body {
    padding-top: 120px;
}

.inline-block {
    display: inline-block;
}

.fas, .fab, .ai {
    margin: 20px;
}

.footer {
    text-align: center;
    width: 100%;
    padding-bottom: 60px;
    color: rgba(0, 0, 0, 0.33);
}